In [1]:
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (20, 10)
plt.style.use('fivethirtyeight')
import pandas as pd
import re

Populating the interactive namespace from numpy and matplotlib

In [2]:
# read all bigrams
b_blogs = pd.read_csv('bigrams_blogs.csv')
b_news = pd.read_csv('bigrams_news.csv')
b_twit = pd.read_csv('bigrams_twitter.csv')

In [4]:
bigrams = b_blogs.append(b_news,ignore_index= True).append(b_twit,ignore_index= True)

We now have 15000 bigrams with their frequencies. It would be safe to assume that some of the bigrams generated from each source will be same. We will use pandas groupby method to aggregate the data. Precisely speaking, we will add the occurrences if the terms match.

In [8]:
bigrams.head()

   occurrences    term
0        46522  of the
1        38460  in the
2        21650  to the
3        18628  on the
4        17025   to be

In [20]:
g = bigrams.groupby('term').sum()

In [23]:
g.head()

            occurrences
term
ability to         1026
able to            4981
about all           283
about an            245
about and           215

In [24]:
len(g)

8800

As we can see, 15000 features got aggregated in to 8800

In [25]:
g['term'] = g.index

In [26]:
g.head()

            occurrences        term
term
ability to         1026  ability to
able to            4981     able to
about all           283   about all
about an            245    about an
about and           215   about and

In [29]:
g = g.reset_index(drop=True)

In [30]:
g.head()

   occurrences        term
0         1026  ability to
1         4981     able to
2          283   about all
3          245    about an
4          215   about and

In [35]:
g = g.sort_values('occurrences',ascending=False)

In [36]:
g.head()

      occurrences     term
4523        69253   of the
2996        64027   in the
7541        34519   to the
4658        31434   on the
1942        31146  for the

In [37]:
g.tail()

      occurrences        term
6136           41   the bases
5509           41  short term
100            41    al qaida
230            41  an officer
7275           41  to balance

In [38]:
g.to_csv('bigrams_aggregated.csv', index=False)

In [46]:
def gen_agg(g,name):
    g = g.groupby('term').sum()
    g['term'] = g.index
    g = g.reset_index(drop=True)
    g = g.sort_values('occurrences',ascending=False)
    g.to_csv(name, index=False)

In [52]:
t_blogs = pd.read_csv('trigrams_blogs.csv')
t_news = pd.read_csv('trigrams_news.csv')
t_twit = pd.read_csv('trigrams_twitter.csv')

In [48]:
trigrams = t_blogs.append(t_news,ignore_index= True).append(t_twit,ignore_index= True)

In [49]:
gen_agg(trigrams,'trigrams_aggregated.csv')

In [58]:
q_blogs = pd.read_csv('fourgrams_blogs.csv')
q_news = pd.read_csv('fourgrams_news.csv')
q_twit = pd.read_csv('fourgrams_tweets.csv')

In [54]:
fourgrams = q_blogs.append(q_news,ignore_index= True).append(q_twit,ignore_index= True)

In [55]:
gen_agg(fourgrams,'fourgrams_aggregated.csv')

In [59]:
o_blogs = pd.read_csv('onegrams_blogs.csv')
o_news = pd.read_csv('onegrams_news.csv')
o_twit = pd.read_csv('onegrams_twitter.csv')

In [60]:
onegrams = o_blogs.append(o_news,ignore_index= True).append(o_twit,ignore_index= True)

In [61]:
gen_agg(onegrams,'onegrams_aggregated.csv')